# Twilio Settings
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token

# Apollo Enrichment API
APOLLO_API_KEY=your_apollo_api_key

# Unipile Profile Scraper and Message Dispatcher
UNIPILE_API_KEY=your_unipile_api_key

# Google Gemini API
GEMINI_API_KEY=your_gemini_api_key

# Postgres Database URL
DATABASE_ASYNC_URL=postgresql+asyncpg://user:password@localhost:5432/apexsdr
